body, html{
    color: rgb(56, 52, 52);
    height: 100%;
}

.home-header{
    font-family: 'Yesteryear', cursive;
    transform: translate(08%, 250px);
    color: rgb(175, 111, 51);
}

.hide {
    display: none;
}

.jumbotron {
    text-align: center;
}

.navbar img {
    border-radius: 15%;
}

.parallax {
    background-image: url('../img/pooping.jpg');
    height: 85%; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.doghat{
    background-image: url('../img/doghat.jpeg');
    height: 85%; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 960px){
    .home-header{
        font-family: 'Yesteryear', cursive;
        transform: translate(30%,60%);
        color: rgb(175, 111, 51);
    }

}

/* ------JULIES---------   */
.product-list {
    margin: 0 auto;
    margin-top: 75px;
  }
  
  input.new-item:focus {
    outline: none;
  }
  
  .list-group-item > button.complete {
    float: right;
    height: 25px;
    margin-left: 5px;
  }
  
  .edit {
    width: 100%;
  }