body, html{
    color: rgb(56, 52, 52);
    height: 100%;
}

.caption{
    font-family: 'Yesteryear', cursive;
    /*transform: translate(08%, 250px);
    position: relative; */
    transform: translate(08%, 250px);
    color: rgb(175, 111, 51);
}

.how-it-works{
    font-size: 18px;
    box-sizing: border-box;
    font-family: 'Centra',Arial,Helvetica,Verdana,sans-serif;
    width: 100%;
    height: 35%;
    background-color: white;
}
.pick-a-box{
    font: bold;
    font-size: 20px;
    font-family: 'Centra',Arial,Helvetica,Verdana,sans-serif;
    display: inline;
    color: blue;
}

.delivery-month{
    font: bold;
    font-size: 20px;
    font-family: 'Centra',Arial,Helvetica,Verdana,sans-serif;
    display: inline;
    color: blue;
}

.serious-fun{
    font: bold;
    font-size: 20px;
    font-family: 'Centra',Arial,Helvetica,Verdana,sans-serif;
    display: inline;
    color: blue;
}

img.animated-gif{
    width: 300px;
    height: auto;
  }

.bgimg-1{
    background-image: url('../img/doghat.jpeg');
    height: 90%; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .75;
} 

.bgimg-2{
    background-image: url('../img/dogtoy.jpg');
    height: 15%; 
    position: relative;
    opacity: 0.65;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-3{
    background-image: url('../img/pooping.jpg');
    height: 85%; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.smallboxes{
text-align: center;
}
@media (max-width: 960px){
    .caption{
        font-family: 'Yesteryear', cursive;
        transform: translate(30%,60%);
        color: rgb(175, 111, 51);
    }
    
}

/* ------JULIES---------   */
.product-list {
    margin: 0 auto;
    margin-top: 75px;
}

input.new-item:focus {
    outline: none;
}

.list-group-item > button.complete {
    float: right;
    height: 25px;
    margin-left: 5px;
}

.edit {
    width: 100%;
}

.hide {
    display: none;
}

.jumbotron {
    text-align: center;
}

.navbar img {
    border-radius: 15%;
}